/* Style général */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f7f7ff;
    margin: 0;
    padding: 10px;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Titre principal */
h1 {
    font-size: 55px;
    color: #6c63ff;
    margin-bottom: 60px;
    text-align: center;
}

/* Sections principales */
section {
    width: 100%;
    max-width: 750px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

/* Titre de la piste */
#trackTitle {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
}

/* Informations sur la piste (ex : 2 / 10) */
#trackInfo {
    text-align: center;
    font-size: 25px;
    color: #666;
    margin-bottom: 20px;
}

/* Lecteur audio */
audio {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 60px;
}

/* Boutons de contrôle */
.controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 60px;
}

.controls button {
    flex: 1;
    padding: 15px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    background-color: #6c63ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #574bcc;
}

/* Spécifique pour le bouton de suppression */
.controls button:last-child {
    background-color: #ff6b6b;
}

.controls button:last-child:hover {
    background-color: #cc4c4c;
}


/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

form label {
    font-size: 30px;
    color: #444;
}

form input[type="text"] {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 28px;
    width: 100%;
}

form input[type="submit"] {
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #6c63ff;
    color: white;
    font-size: 28px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #574bcc;
}

/* Affichage du log */
#log-content {
    padding: 15px;
    border-radius: 10px;
    background-color: #f0f0ff;
    border: 1px solid #ddd;
    font-size: 22px;
    color: #666;
    max-height: 200px;
    overflow-y: auto;
    white-space: pre-wrap;
}

/* Styles spécifiques pour les petits écrans */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    section {
        padding: 50px;
    }

    h1 {
        font-size: 40px;
    }

    .controls button {
        padding: 15px;
        font-size: 28px;
    }

    form input[type="text"] {
        font-size: 26px;
        padding: 15px;
    }

    form input[type="submit"] {
        font-size: 26px;
        padding: 20px;
    }

    #log-content {
        font-size: 22px;
        padding: 15px;
    }
}
